// Buttons

.btn {
  background-color: $secondary-color;
  color: $btn-text-color;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;

  &:hover {
    background-color: $button-hover;
  }
}

.header__btn {
  padding: 1rem 1.8rem;
  border-radius: 63px;
}

.card__btn {
  @include button-style;
  @media screen and (max-width: 991px) {
    width: 100%;
  }
}

.cta__btn {
  @include button-style;
}
