// Colors
$primary-color: #1c0d3f;
$secondary-color: #ed26b7;
$btn-text-color: #ffffff;
$hero-bg-color: #d1d7e8;
$footer-bg-color: #f2f4f6;

$nav-text-hover: #1c0d3fb3;
$button-hover: #a00d78;

$border-tag-color: #bfc9d1;
$tag-bg-color: #d3cae5;
$resources-hover: #a00d78;

$card-bg-border: #dfe4e8;
$card-img-bg: #d3d8e8;
$card-personal-info: #1c0d3f80;

$border-white: #ffffff;
