// main content of the website

.main__content {
  max-width: 60%;

  @media screen and (max-width: 991px) {
    max-width: 100%;
  }

  .content {
    margin: 8rem 0;
  }
}

.content2__span {
  display: flex;

  .checkmark {
    transform: scale(0.9);
    padding-right: 1rem;
    align-self: flex-start;
  }
}
