// Hero

// Resources

.main__hero {
  background-color: $hero-bg-color;

  .main__links {
    display: flex;
    justify-content: left;
    padding-top: 1.6rem;

    @media screen and (max-width: 991px) {
      padding-bottom: 2rem;
    }

    .main__resources {
      display: flex;

      .resources__link {
        color: $secondary-color;

        &:hover {
          color: $resources-hover;
        }
        .arrow__icon {
          padding-right: 0.8rem;
        }
      }
      .line {
        padding: 0 1.5rem;
      }
    }
    .tag__text {
      color: $primary-color;
    }

    .tag__link {
      color: $primary-color;
      padding: 0.3rem 0.8rem;
      margin: 0 0.5rem;
      border: 1px solid $border-tag-color;
      border-radius: 4px;
      transition: 0.15s ease-in-out;

      &:hover {
        color: $secondary-color;
        border: 1px solid $secondary-color;
        background-color: $tag-bg-color;
      }
    }
  }

  .webinar__image {
    display: none;

    @media screen and (max-width: 991px) {
      display: flex;
      margin: 2rem 0;
      padding: 3rem 0;
      max-width: 100%;
      border-radius: 4px;
      border: 1px solid $border-white;

      .card__img__mobile {
        max-width: 50%;
        margin: 0 auto;
      }
    }
  }
}

.hero__content {
  display: flex;
  justify-content: space-between;
  padding: 8rem 0;
  @media screen and (max-width: 991px) {
    display: block;
    padding: 5rem 0;
  }

  .hero__text {
    flex: 2;

    .hero__h4 {
      margin-top: 0;
      margin-bottom: 2.5rem;

      .category__link {
        color: $primary-color;
        transition: 0.35s ease-in-out;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
