// mixins

// Text style - size, weight, line height
@mixin text-style($size, $weight, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin button-style {
  padding: 1.1rem 2.8rem 1.3rem 2.8rem;
  border-radius: 69px;
}
