// Webinar registration form hero

.hero__registration {
  flex: 1;
  position: relative;

  .card__registration {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid $card-bg-border;
    border-radius: 4px;
    margin: 2.5rem 0 2.5rem 2.5rem;

    @media screen and (max-width: 991px) {
      position: relative;
      margin: 0;
    }
  }

  .card__img {
    display: flex;
    flex-direction: column;
    background-color: $card-img-bg;
    padding: 3rem 0;
    width: 100%;
    @media screen and (max-width: 991px) {
      display: none;
    }

    .card__ebook {
      align-self: center;

      width: 30%;
    }
  }
  .card__content {
    background-color: $footer-bg-color;
    padding: 2.5rem;

    .card__h4 {
      margin: 2rem 0;
    }

    .form__input {
      width: 100%;
      border-radius: 4px;
      border: 1px solid $card-bg-border;
      padding: 1.5rem;
      margin-bottom: 1.25rem;
      box-sizing: border-box;
    }

    .card__checkbox {
      border: none;
      border-radius: none;
    }

    .card__checkbox__text {
      color: $primary-color;
      display: flex;
      align-items: flex-start;

      .checkmark__form {
        order: 1;
      }
    }

    .card__text {
      color: $card-personal-info;
      display: block;
      padding: 2rem 0;

      .privacy__mail {
        color: $secondary-color;
      }
    }
  }
}
