// Typography
$global-font-family: Arial, Helvetica;

// Headings

h1 {
  @include text-style(5.2rem, 400, 6.5rem);
  color: $primary-color;

  @media screen and (max-width: 1200px) {
    @include text-style(3.8rem, 400, 4.75rem);
  }
}

h2 {
  @include text-style(3.2rem, 600, 4rem);
  color: $primary-color;

  @media screen and (max-width: 1200px) {
    @include text-style(2.3rem, 600, 2.875rem);
  }
}

h3 {
  @include text-style(2.6rem, 400, 4rem);
  color: $primary-color;

  @media screen and (max-width: 1200px) {
    @include text-style(2.1rem, 600, 3.15rem);
  }
}

h4 {
  @include text-style(2.1rem, 600, 2.6rem);
  color: $primary-color;

  @media screen and (max-width: 1200px) {
    @include text-style(1.8rem, 600, 2.25rem);
  }
}

p {
  @include text-style(1.8rem, 400, 2.7rem);
  color: $primary-color;

  @media screen and (max-width: 1200px) {
    @include text-style(1.6rem, 400, 2.4rem);
  }
}

.header__btn {
  @include text-style(1.8rem, 600, 2.2rem);
}

.tag__form__text {
  @include text-style(1.4rem, 400, 2.1rem);
}

.card__checkbox__text,
.card__text {
  @include text-style(1.4rem, 400, 2.1rem);

  @media screen and (max-width: 1200px) {
    @include text-style(1.2rem, 400, 1.8rem);
  }
}

.form__input {
  @include text-style(1.6rem, 400, 2.4rem);
  &::placeholder {
    opacity: 0.6;
  }
}

.card__btn,
.cta__btn {
  @include text-style(2.1rem, 600, 3.15rem);

  @media screen and (max-width: 1200px) {
    @include text-style(1.9rem, 600, 2.375rem);
  }
}
