// Main

html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: $global-font-family;
}

.container {
  margin: 0 auto;

  @media screen and (min-width: 1801px) {
    max-width: 1700px;
  }

  @media screen and (min-width: 1401px) and (max-width: 1800px) {
    max-width: 1300px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1400px) {
    max-width: 1150px;
  }

  @media screen and (min-width: 991px) and (max-width: 1200px) {
    max-width: 950px;
  }

  // Breakpoint for mobile version
  @media screen and (min-width: 768px) and (max-width: 991px) {
    max-width: 750px;
  }

  @media screen and (max-width: 767px) {
    max-width: 100%;
    padding: 0 2rem;
  }
}

.link {
  text-decoration: none;
}
